@import "_var.scss";

body{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #202020;
   font-family: "Poppins", sans-serif;
   height: 100vh;
   max-width: 100%;
   flex-direction: column;
   overflow: hidden !important;
}

#pic-of-day-section {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.082);
   width: 100%;
   height: 100vh;
   background-image: url("../img/bg-1.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   .pic-of-day-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: rgba(255, 255, 255, 0.40);
      width: 100%;
      height: 100vh;
      // background-image: url("../img/bg-1.jpg");
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      opacity: 1;
      transition: all 0.4s ease-in-out;
   }

//Base Positioning for left, right divs
   .top-left-link,
   .top-right-link {
      position: absolute;
      cursor: pointer;
   }
//Base Positioning for center, bottom left & right divs   
   .center-link,
   .bottom-left,
   .bottom-right {
      position: absolute;
   }
   //Base Styling for divs that have a icon
   .top-left-link,
   .top-right-link,
   .center-link {
      &__icon {
         background-color: var(--Black-Transparent-BG);
         border-radius: 50%;
         // font-size: 18px;
         padding: 4px 5px;
         width: 31.33px;
         // line-height: 1.5;
         img {
           width: 21px
         }  
      }  
   }
// ### Indivisual Styling Start ###   
   .top-left-link {
      top: 40px;
      left: 40px;
      width: 250px;
      // background-color:rgba(51, 51, 51, 0.5);
      &__wrapper {
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 5px;
         width: 100%;
         // border: 1px solid red;
      }
      &__content-wrapper {
         display: flex;
         flex-direction: column;
         // padding: 5px 7px 10px 7px;
         // border: 1px solid green;
         transition: all 0.3s ease-in-out;
      }
      &__top-content {
         line-height: 1.2;
         padding: 5px 7px 0px 7px;
         transition: background-color 0.3s ease-in-out;
      }
      &__sub-content {
         width: 100%;
         font-size: 12px;
         line-height: 1.2;
         padding: 0px 7px 10px 7px;
         // visibility: hidden;
         // opacity: 0;
         transition: all 0.3s ease-in-out;
      }
   }
   
   .top-right-link{
      top: 40px;
      right: 70px;
      width: 250px;
      // font-size: 17px;
      &__wrapper {
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 5px;
         width: 100%;
         // border: 1px solid red;
      }
      &__icon {
         height:fit-content;
      }
      &__content-wrapper {
         display: flex;
         flex-direction: column;
         // border: 1px solid green;
         // transition: background-color 0.1s ease;
         transition: all 0.3s ease-in-out;
      }
      &__top-content {
         line-height: 1.2;
         padding: 5px 7px 0px 7px;
      }
      &__sub-content {
         width: 100%;
         line-height: 1.2;
         // padding: 0px 7px 10px 7px;
         display: none;
         visibility: hidden;
         opacity: 0;
         // border: 1px solid yellow;
      }
      .top-right-link__ul-title {
         font-size: 1.3rem;
         line-height: 1.3;
         padding: 7px 7px 7px 15px;
         margin-bottom: 5px;
      }
      .top-right-link__ul-title:hover{
         background-color: var(--Light-Grey-Hover);
      }
      &__title {
         color: var(--Main-Font-Color);
      }
      &__attribute {
         font-size: 10px;
         // font-weight: 500;
         color: var(--Light-Grey);
         padding: 10px;
      }
      &__attribute:hover {
         background-color: var(--Light-Grey-Hover);
      }
      hr {
         border-style: none;
         border-top-style: solid;
         border-width: 1px;
         border-color: var(--Light-Grey);
         margin-top: 15px;
         margin-bottom: 15px;
      }
      &__ul {
         padding: 10px;
         .top-right-link__like {
            padding: 5px 0;
            margin-bottom: 15px;
            .top-right-link__like--heart-icon {
               i {
                  margin-right: 10px; 
               }  
            }
            .top-right-link__like--text {
               margin-left: 30px;
               font-size: 10px;
               color: var(--Light-Grey);
            }
         } 
         .top-right-link__dislike {
            padding: 5px 0;
            .top-right-link__dislike--heart-icon {
               i {
                  margin-right: 10px; 
               }
            }
            
            .top-right-link__dislike--text {
               margin-left: 30px;
               font-size: 10px;
               color: var(--Light-Grey);
            }
         }
         .top-right-link__like:hover {
            background-color: var(--Light-Grey-Hover);
         }
         .top-right-link__dislike:hover {
            background-color: var(--Light-Grey-Hover);
         }
      }
   }
   // .material-symbols-outlined {
   //    font-size: 15px;
   // }
   
   .center-link {
      top: 50%;
      margin: auto 0;
      width: 250px;      
      &__wrapper {
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 5px;
         width: 100%;
         // border: 1px solid red;
      }
      &__icon {
         height:fit-content;
         // border: 1px solid yellow;
      }
      &__content-wrapper {
         display: flex;
         flex-direction: column;
         // border: 1px solid green;
         // transition: background-color 0.1s ease;
         transition: all 0.3s ease-in-out;
      }
      
      &__top-content {
         line-height: 1.2;
         padding: 5px 7px 0px 7px;
         padding-bottom: 2px;
      }
      &__sub-content {
         width: 100%;
         font-size: 12px;
         line-height: 1.2;
         padding: 0px 7px 10px 7px;
         visibility: hidden;
         opacity: 0;
      }
   }
   .bottom-left {
      bottom: 40px;
      left: 40px;
   }
   .bottom-right {
      bottom: 40px;
      right: 40px; 
   }
   .bottom-left {
      &__time {
         font-size: 4.5rem;
         font-weight: 300;
         letter-spacing: .2rem;
         word-spacing: 0.2rem;
         transform: scaleY(1.2);
         margin-bottom: 10px;
      }
      &__date {
         font-size: 2rem;
         font-weight: 300;
         letter-spacing: 2px;
         word-spacing: 0.2rem;
         transform: scaleY(1.2);
         // transform: scaleX(1.1);
         // margin-left: 20px;
      }
   }
   .bottom-right {
      font-size: 1.5rem;
      font-weight: 300;
      &__wifi-icon,&__power-icon {
         position: relative;
         top: 10px;
         margin-left: 10px; 
      }
      &__wifi-icon {
         .wifi-icon-img {
            transform: rotate(315deg);
         } 
      }
      &__power-icon:before{
         content: var(--percent-text);
         position: absolute;
         top: -18px;
         left: 2px;
         font-size: 12px;
         visibility: hidden;
      }
      &__power-icon:hover::before{
         visibility: visible;
      }
      .charging-pulse-effect {
         position: absolute;
         margin: auto;
         top: 0;
         left: 59px;
         bottom: -17px;
         height: 15px;
         width: 30px;
         /* background-color: white; */
         border-radius: 4px;
         filter: blur(3px) drop-shadow(0px 0px 10px #333333);
         /* z-index: -1; */
         /* box-shadow: 0 0 0 0 rgb(255 255 255); */
         -webkit-animation: pulse-white 1.5s infinite;
         animation: pulse-white 1.5s infinite;
      }
      
      @keyframes pulse-white {
         0% {
           transform: scale(0.95);
           box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
         }
         
         70% {
           transform: scale(1);
           box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
         }
         
         100% {
           transform: scale(0.95);
           box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
         }
       }
   }
}
.pic-of-day-filter {
   filter: blur(20px) brightness(0.7);
}

/* ## LOGIN SECTION STYLING ####################################
###############################################################*/
#login-section {
   position: absolute;
   top: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   // background-color: rgba(223, 61, 61, 0.519);
   width: 100%;
   height: 100vh;
   padding: 25px;
   background-color: rgba(14, 14, 14, 50%);
   opacity: 0.6;
   transition: all 0.2s ease-in;
   z-index: 10;
   // display: none;
}

.login-form-container{
   display: flex;
   justify-content: center;
   align-items: center;
   // background-color: rgba(51, 51, 51, 0.5);
   // border-radius: 2px;
   width: 250px;
   height: auto;

   #login-form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 250px;
      .user-wrapper {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin-bottom: 20px;
         // background-color: red;

         #user-img {
            border-radius: 50%;
            // width: 60%;
            margin-bottom: 15px;
         }
         #user-name{
            font-size: 1.8rem;
            font-weight: 300
         }
      }
      .input-wrapper {
         width: 100%;
         position: relative;
         margin-bottom: 15px;

         #pin-login-input {
            width: 100%;
            height: 35px;
            padding: 6px 72px 6px 6px;
            font-weight: 500;
            color: var(--Main-Font-Color);
            background-color: var(--Black-Transparent-BG);
            border: 2px solid var(--Light-Grey);
         }
         #pin-login-input:hover {
            border: 2px solid white;
            background-color: var(--Dark-Black-Transparent-BG);
         }
         #pin-login-input:focus {
            color: #333;
            border: none;
            outline: 2px solid rgb(209, 209, 209); 
            background-color: white;    
         }
         #pin-login-input::placeholder {
            color: rgb(219, 219, 219);    
         }
         .view-icon-span {
            position: absolute;
            top: 1.7px;
            left: 184.2px;
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: yellow; */
            height: 31.5px;
            cursor: pointer;

            img {
               width: 50%;
               filter: contrast(0.5);
            }
         }
         .view-icon-span:hover {
            background-color: rgb(185, 125, 61);
            img {
               filter: invert(100%);
            }
         }
         #submit-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 1.7px;
            left: 216.5px;
            height: 31.5px;
            background-color: #b4b4b4;
            border: none;
            cursor: pointer;

            img {
               width: 90%;
            }
         }
         #submit-btn:hover {
            background-color: rgb(185, 125, 61);
            border-style: none;
         }
      }

      .options-main-container {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         width: 100%;

         .forgot-info-wrapper {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;

            .forgot-link {
               color: var(--Main-Font-Color);
               font-size: 0.8rem;
            }
            
         }
         .sign-in-options-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .signin-option-link {
               color: var(--Main-Font-Color);
               text-align: center;
               font-size: 0.8rem;
               width: 100%;
               margin-bottom: 10px;
            }
                        }
            .options-btns-wrapper {
               display: flex;
               justify-content: space-between;
               align-items: center;
               gap: 8px;
               width: fit-content;
               // visibility: hidden;
               transform: scale(0);
               transition: transform 0.3s ease-in-out;
               transform-origin: center;

               .option-btn {
                  width: 40px;
                  padding-top: 4px;
                  background-color: rgb(122 113 113);
                  border: 1.5px solid transparent;
                  cursor: pointer;
               }
               .option-btn:hover {
                  border: 1.5px solid var(--Light-Grey);
               }
               [data-title] {
                  position: relative;
               }
               [data-title]:hover:after {
                  opacity: 1;
                  transition: all 0.4s ease-in-out 0.4s;
                  visibility: visible;
              }
              [data-title]:after {
                  content: attr(data-title);
                  background-color: rgba(51, 51, 51, 0.95);
                  color: var(--Main-Font-Color);
                  font-size: 0.7rem;
                  position: absolute;
                  padding: 5px 8px;
                  bottom: 90%;
                  left: 10%;
                  white-space: nowrap;
                  box-shadow: 1px 1px 3px #222222;
                  opacity: 0;
                  border: 1px solid #111111;
                  z-index: 99999;
                  visibility: hidden;
              }

            }
            //Add class to .options-btn-container to make it visiable
            .show-opt-btns {
               // visibility: visible;
               transform: scale(1);
         }
      }
      
   }
}
.login-bottom-right-icons-container {
   position: absolute;
   left: 92.10%;
   top: 91.45%;
   .login-bottom-right__wifi-icon {
      margin-right: 14.5px;
      .wifi-icon-img {
         rotate: -45deg;
      }
   }
}